.error {
	font-weight: bold;
	font-weight: 0.875rem;
	color: red;
}

/* Auth.module.css */
.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.box {
	width: 300px;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input {
	width: 100%;
	padding: 10px;
	margin: 5px 0;
	border: 1px solid #ccc;
	border-radius: 4px;
	font-size: 16px;
}

.button {
	width: 100%;
	padding: 10px;
	margin: 10px 0;
	border: none;
	border-radius: 4px;
	background-color: #007bff;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
}

.button:hover {
	background-color: #0056b3;
}